* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1400px;
  }
body {
    font-family: 'Poppins', sans-serif;  
}
nav {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 1400px;
}

.nav__logo, .nav__list, .nav__item, .nav__buttons, .nav__button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.nav__logo{
    margin-left: 144px;
}
.nav__list {
    margin-left: 318px;
    margin-right: 15px;
    list-style: none;
    
}
 
.nav__item a {
    padding-right: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2F281E;
    text-decoration: none;
}
.nav__button{
    margin-left: 14px;
    width: 110px;
    height: 46px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    background: #FFFFFF;
    border: 2px solid #BCD0E5;    
}
.nav__button-white{
    border-style: none;
    background: #FF9900;
    color: #FFFFFF;
}

header {
    margin-top: 30px;
    margin-bottom: 110px;
}
.header__left-side {
   display: inline-block;
   margin-left: 145px;
   padding-top: 113px ;
   margin-right: 66px;
}
.header__left-side h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #2F281E;
    margin-bottom: 30px;
    line-height: 54px;
}
.header__left-side p {
    padding-bottom: 20px ;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2F281E;
}
.header__image-hero {
    float: right;
    margin-right: 105px;
}
.header__button {
    margin-right: 15px;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF; 
    background: #FF9900;
    border-radius: 4px;
    border: none;
}
.header_button-white {
    background: #FFFFFF;
    color:#FF9900 ; 
    margin-left: 15px;
}
.header__button-icon {
    margin-right: 9px;;
}
.features h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
}
.features__elements {
    margin-top: 54px;
    margin-left: 161px;
    margin-right: 130px;
    padding-bottom: 3px;
    margin-bottom: 30px;
}
.features__element {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 45px;
    margin-right: 44px;
}
.features__element:last-child {
    padding-right: 0;
    margin-right: 0px;
}
.features__element h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}
.features__element p {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #544837;

}
.features__button {
    position: absolute;
    margin-top: 34px;
    margin-right: 604px;
    margin-left: 621px;
    margin-bottom: 90px;
    width: 175px;
    height: 53px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: #FF9900;
    color:#FFFFFF;
    border-radius: 4px;
    border-style: none;
}
.features {
    padding-bottom: 90px;
    padding-top: 11px;
}

 .effortless-validation {
    margin-left: 145px;
    margin-top: 120px;
    margin-bottom: 101px;
}
.effortless-validation__left-side {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 22px;    
}
.effortless-validation__left-side p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
    padding: 5px;
}
.effortless-validation__left-side h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}
.effortless-validation__left-side h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;    
    color: #2F281E;
    margin-top: 25px;
    margin-bottom: 12px;
    
}
.effortless-validation img {
   float: right;
   margin-right: 145px;
}

.product-managers__right-side {
    display: inline-block;
    margin-right: 1px;
    padding-right: 57px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.product-managers__right-side p {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
    padding: 3px;
    margin-top: 30px;
}
.product-managers__right-side h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}
.product-managers__right-side ul {
    list-style: none;
}
.product-managers__right-side img {
    padding-bottom: 8px;
    padding-top: 8px;
    margin-left: 0px;
    margin-right: 30px;
}

.product-managers__img {
    float: left;
    margin-left: 144px;
    padding-bottom: 8px;
    padding-right: 8px;
    margin-right: 100px;
    margin-bottom: 104px;
}

.marketers{
    margin-left: 145px;
    margin-right: 145px;
    margin-top: 120px;
    margin-bottom: 101px;
}
.marketers__left-side {
    float: left;
    margin-right: 82px;
}
.marketers__left-side p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
    padding: 1px;
}
.marketers__left-side h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}
.marketers__left-side h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;    
    color: #2F281E;
    margin-top: 25px;
    margin-bottom: 12px;
    
}