body {
    font-family: 'Poppins', sans-serif;  
}
nav {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 1400px;
}

.nav__logo, .nav__list, .nav__item, .nav__buttons, .nav__button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.nav__logo{
    margin-left: 144px;
}
.nav__list {
    margin-left: 321px;
    margin-right: 15px;
    list-style: none;
    
}
 
.nav__item a {
    padding-right: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2F281E;
    text-decoration: none;
}
.nav__button{
    margin-left: 14px;
    width: 110px;
    height: 46px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    background: #FFFFFF;
    border: 2px solid #BCD0E5;    
}
.nav__button-white{
    border-style: none;
    background: #FF9900;
    color: #FFFFFF;
}
header {
    display: inline-block;
    margin-left: 145px;
    margin-right: 129px;
    margin-bottom: 110px;
    padding: 1px;
}
.header__left-side {
   padding-top: 113px ;
   display: inline-block;
   margin-right: 63px;

}
header h1 {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #2F281E;
    margin-bottom: 30px;
    margin-right: 3px;
    line-height: 54px;
}
header p {
    display: block;
    padding-bottom: 20px ;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    max-width: 518px;
    color: #2F281E;
}
header img {
    display: inline;
    float: right;
}
.header__button {
    margin-left: 0;
    margin-right: 15px;
    display: inline-block;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF; 
    background: #FF9900;
    border-radius: 4px;
    border: none;
}
.header_button-white {
    background: #FFFFFF;
    color:#FF9900 ; 
    margin-left: 15px;
}
.header__button-icon {
    margin-right: 9px;;
    float: left;
}