
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style: none;
}
body {
  background-color: #bac5db;
  font-family: sans-serif;
}

.container {
  display: block;
  width: 668px;
  margin: 0 auto;
}
.newsletter {
  background-color: #353a45;
  color:white;
  text-align:center;
  padding: 83px 60px 67px 60px;
  margin-top: 60%;
  border-radius:24px;
  text-align: center;
  position: relative;
}
.newsletter__title {
  font-size: 48px;
  margin-bottom: 17px;
  color: #538fff;
}
.newsletter__icon {
  width: 92px;
  height: 92px;
  position: absolute;
  top:-44px;
  left: 42%;
  background: linear-gradient(90deg, rgba(141,119,194,1) 0%, rgba(75,167,227,1) 100%);
  border-radius: 50%;
  text-align: center;
}
.newsletter__icon img{
  display: inline-block;
  margin-top: 6px;
}
.newsletter__text {
  font-size: 22px; 
  margin-bottom:40px;
}
.newsletter__mssg {
  color: #787d87;
  font-style: italic;
  font-size: 20px;
  margin-top:37px;
  display: block;
}
.input-group {
  display: inline-block;
}
.input-group__text {
  margin-right: 8px;
}
.input-group input[type="text"] {
  width:372px;
  height: 52px;
  border-radius: 10px;
  border:0;
  font-size: 18px;
  padding-left:20px;
}
.input-group input[type="submit"] {
  height: 52px;
  border-radius: 10px;
  width: 161px;
  background-color: #538fff;
  color: white;
  border:0;
  font-size: 18px;
  font-weight: bold;
}