/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    box-sizing: border-box;
    max-width: 1440px;
    font-family: 'Rubik', sans-serif;
}
.nav__logo {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 157px;
    display: inline-block;
    margin-bottom: 120px;
}
.nav__logo img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.nav__logo-text {
    padding: 2px;;
    display: inline;
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;

}

.nav__logo-text strong {
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}
nav ul {
    display: inline-block;
}
nav ul li {
    display: inline-block;
    margin-right: 40px;
}
nav ul li:last-child {
    margin-right: 150px;
}
.nav__buttons {
    display: inline;
}
.nav__buttons button {
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    background: none;
    border: none;
    margin-bottom: 110px;

}
.nav__buttons button:last-child {
    display: inline;
  
    border: 1px solid #F53855;;
    border-radius: 50px;
    box-sizing: border-box;
    width: 150px;
    height: 45px;
    color: #F53855;
}
.header__left-side {
    margin-left: 150px;
    display: inline-block;

}
.header__left-side h1 {
    margin-bottom: 20px;    
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}
.header__left-side h1 strong {
    font-weight: 700;
}
.header__left-side p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;    
    color: #4F5665; 
    margin-bottom: 50px;
}
.header__left-side button{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    border-style: none;
}
header {
    margin-bottom: 103px;
}

.features__first, .features__first i, .features__first div {
    display: inline-block;
}
.features__first {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 260px ;
}
.features__first i {
    margin-right: 30px;
    margin-left: 30px;
    padding: 0 auto;
    display: inline-block;
    font-size: 30px;
    color: #F53838;
    text-align: center;
    background: #FFECEC;
    border-radius: 70px;
}
.features__first-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.features__first-text strong {
    margin-right: 30px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}
.features__first img {
    margin-left: 130px;
}
